<%- include('header'); -%>
<h1>About Us</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, aut ipsam! Nobis eos ullam ad cupiditate quo molestiae quaerat obcaecati quasi accusamus mollitia commodi pariatur, velit, impedit sequi assumenda consequatur?</p>
<%- include('footer'); -%>
